@media screen and (min-width: 500px) {

    #restaurants-list {
        padding: 30px 15px 60px;
        max-width: 1200px;
        margin: 0 auto;
      }

    #restaurants-list li {
        margin: 15px;
        min-height: 380px;
        padding: 0 30px 25px;
        text-align: left;
        width: 270px;
      }

      #restaurants-list .restaurant-img {
        margin: 30px 0 0;
      }

      #restaurants-list li h1 {
        padding-left: 0;
      }

      #restaurants-list p {
        margin: 0;
        font-size: 11pt;
        padding-left: 0;
      }

      #restaurants-list li a {
        margin: 15px 0 0;
      }
}